/*/.checkstyle
/*/.classpath
/*/.project
/*/.pmd
/*/target
/*/.settings/*
/*/tmp/

/CashFlow/bin
/CashFlow/gen
/CashFlow/libs
/CashFlow/layout
/CashFlow/reports
/CashFlow/*.tmp
/CashFlow/lint.xml

/CashFlowTest/AndroidManifest.xml
/CashFlowTest/test
/CashFlowTest/test-output/*
/CashFlowTest/res