/*/.checkstyle
/*/.classpath
/*/.project
/*/.pmd
/*/target
/*/.settings/*
/*/tmp/
/*/project.properties

actionbarsherlock/*

/CashFlowAndroid/bin
/CashFlowAndroid/gen
/CashFlowAndroid/libs
/CashFlowAndroid/layout
/CashFlowAndroid/reports
/CashFlowAndroid/*.tmp
/CashFlowAndroid/lint.xml


/CashFlowTest/AndroidManifest.xml
/CashFlowTest/test
/CashFlowTest/test-output/*
/CashFlowTest/res

/CashFlowWeb/src/main/resources/rebel.xml
/CashFlowWeb/.springBeans