<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cashflow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:name="com.cashflow.App"
        android:allowBackup="true"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name="com.cashflow.activity.MainActivity"  android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cashflow.statement.activity.AddStatementActivity"/>
        <activity android:name="com.cashflow.statement.activity.EditStatementActivity" />
        <activity android:name="com.cashflow.statement.activity.ListStatementActivity" />
        <activity android:name="com.cashflow.category.activity.CreateCategoryActivity" />
        <activity android:name="com.cashflow.bill.activity.AddBillActivity" />
        <activity android:name="com.cashflow.SwipedAddStatement"/>
    </application>

</manifest>