<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cashflow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application
        android:name="com.cashflow.App"
        android:allowBackup="true"
        android:icon="@drawable/app_icon" android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="com.cashflow.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cashflow.statement.activity.AddStatementFragment" />
        <activity android:name="com.cashflow.statement.activity.AddIncomeFragment" />
        <activity android:name="com.cashflow.statement.activity.edit.EditStatementActivity" />
        <activity android:name="com.cashflow.statement.activity.edit.EditIncomeActivity" />
        <activity android:name="com.cashflow.statement.activity.list.ListStatementFragment" />
        <activity android:name="com.cashflow.category.activity.CreateCategoryActivity" />
        <activity android:name="com.cashflow.bill.activity.AddBillFragment" />
        <activity android:name="com.cashflow.activity.ActionsActivity" />
        <activity
            android:name="com.cashflow.activity.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
    </application>

</manifest>